# Dependencies
node_modules/

# Frontend build
frontend-web/dist/

# Backend build
backend-api/target/

# Environment files
.env
.env.*
!/.env.example

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
